{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <form method="POST">
        {% csrf_token %}

        <h3>Section 1: General Information</h3>
        <div class="mb-3">
            <label for="location" class="form-label">1. Exact Location</label>
            {{ form.location }}
        </div>
        <div class="mb-3">
            <label for="Date" class="form-label">2. Date/Time</label>
            {{ form.date }}
        </div>
        <div class="mb-3">
            <label for="Question" class="form-label">3. Question</label>
            {{ form.question }}
        </div>

        <h3>Section 2: Hazard Identification</h3>
        <div class="mb-3">
            <label class="form-label">4. Tick As Appropriate</label>
            {{ form.hazard }}
        </div>
        <div class="mb-3">
            <label class="form-label">5. Risk Type</label>
            {{ form.risk_type }}
        </div>
        <div class="mb-3">
            <label class="form-label">6. RAM Rating</label>
            {{ form.ram_rating }}
        </div>


        <h3>Section 3: Observations</h3>
        <div class="mb-3">
            <label class="form-label">7. Description Of Observations</label>
            {{ form.observation }}
        </div>
        

        <h3>Section 4: Immediate Action Taken</h3>
        <div class="mb-3">
            <label class="form-label">8. Immediate Action Taken</label>
            {{ form.action_taken }}
        </div>
        
 
        <h3>Section 5: Preventive Action</h3>
        <div class="mb-3">
            <label class="form-label">9. Futher Action To Prevent Reccurence</label>
            {{ form.preventive_action }}
        </div>
       

         <h3>Section 6: Responsible Party And Target</h3>
         <div class="mb-3">
            <label for="ResponsibleParty" class="form-label">10. Responsible Action Party</label>
            {{ form.responsible_party }}
        </div>
        <div class="mb-3">
            <label for="TargetDate" class="form-label">11. Target Date/Time</label>
            {{ form.target_date }}
        </div>


         <h3>Section 7: Observed By</h3>
         <div class="mb-3">
            <label for="ObservedBy" class="form-label">12. Observed By</label>
            {{ form.observed_by }}
        </div>
        <div class="mb-3">
            <label for="Dept" class="form-label">13. Dept</label>
            {{ form.dept }}
        </div>
        <div class="mb-3">
            <label for="ObservedDate" class="form-label">2. Date/Time</label>
            {{ form.observed_date }}
        </div>
        <div class="mb-3">
            <label for="status" class="form-label">3. Status</label>
            {{ form.status }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock content %}
